.Main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: inherit;

  padding: 120px 0 20px 0;
  text-align: center;
}

input[type='text'] {
  padding: 15px 5px;
  width: 70%;
}
button {
  padding: 15px 5px;
  width: 25%;
}
